<!-- {% if site.data.settings.experience %} -->
<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h3 class="section-title">Teaching</h3>
      </div>
        <p>I have been a Teaching Assistant for courses at School of Transnational Governance, European University
        Institute, and Ashoka University. The courses have been at Graduate and Undergraduate Levels.
      I recently assisted Prof Daniela Iorio for the course of Economics for Policy-Microeconomic tools and Methods.
      More details are available under the teaching tab. </p>
  </div>
  </div>
</section>
<!-- ./experience -->
<!-- {% endif %} -->
